# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly
        target: wasm32-unknown-unknown, x86_64-unknown-linux-gnu
        components: rustfmt
    # - name: Rustfmt Check
    #   uses: actions-rust-lang/rustfmt@v1
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
    - name: Install Zig toolchain
      uses: mlugg/setup-zig@v2
    - name: Cache dependencies
      id: cache-deps
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/zig
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install cargo tools
      run: |
        pip install build wheel toml
        test -e ~/.cargo/bin/cargo-zigbuild || cargo install cargo-zigbuild
        test -e ~/.cargo/bin/rnr || cargo install rnr
        test -e ~/.cargo/bin/cargo-nextest || cargo install cargo-nextest
        test -e ~/.cargo/bin/cargo-binstall || cargo install cargo-binstall
        test -e ~/.cargo/bin/dx || cargo binstall dioxus-cli
        test -e ~/.cargo/bin/trunk || cargo install trunk --locked    
    - name: Build package
      run: |
        make ZIG=1 wheel
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        packages-dir: dist/
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
